<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <dubbo:application name="04-consumer-version"/>

    <dubbo:registry address="zookeeper://zkOS:2181" />

    <!--指定消费0.0.1版本，即oldService提供者-->
    <!--<dubbo:reference id="userService" version="0.0.2" interface="com.hero.service.UserService"/>-->
    <!--<dubbo:reference id="userService" version="0.0.1" interface="com.hero.service.UserService" protocol="dubbo"/>-->

    <!--指定消费0.0.2版本，即newService提供者-->
    <dubbo:reference id="userService"  version="0.0.2" interface="com.hero.service.UserService" protocol="rmi"/>

</beans>
